<div class="bookdetails-container">
    <div class="light-container">
        <div class="img-block">
            <img src="{{book.image}}" alt="">
            <div class="options">
                <p>Add to Wishlist</p>
                <p>Add to Read</p>
            </div>
        </div>
        <div class="text">
            <p class="title">{{book.title}}</p>
            <div class="details">
                <p><b>Author :</b> {{book.author}}</p>
                <p><b>Publication year :</b> {{book.year}}</p>
                <p class="synopsis"><b>Synopsis :</b> <br> {{book.synopsis}}</p>
            </div>
        </div>
        <!-- <div class="similar">
            <div *ngFor="let books of authorBooks">
                <img src="{{authorBooks.image}}" alt="">
            </div>
        </div> -->
    </div>
</div>